@using Newtonsoft.Json;
@using System.IO;
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["HomeSelectedClass"] = "text-white";
    ViewData["PriceAlertSelectedClass"] = "";
}
<div class="text-center py-2">
    <h1 class="display-4">Welcome @(Model.loggedInPerson.FirstName)</h1>
</div>
@{
    if (!Model.loggedInPerson.isRegisteredToService)
    {
        <h2>Please Register by uploading file</h2>
    }
}

<div class="row justify-content-center">
    <div class="card bg-transparent border border-0">
        <div class="card-body">
            <canvas id="priceConsumptionGraph" class=""></canvas>
        </div>
    </div>
</div>
<!-- Space for details and price       -->
<div class="row">

    <ul class="d-flex list-unstyled mt-auto">
        <li class="me-auto"></li>
        <li class="d-flex align-items-center my-2 ms-3">
            @Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/maxprice.svg"))
            <span class="ms-3 my-2">
                Max price is  <br />  @Model.dayAHeadPriceData.maxPrice c/kWh <br /> @Model.dayAHeadPriceData.maxPriceTimeStamp
            </span>
        </li>
        <li class="me-auto"></li>
        <li class="d-flex align-items-center ms-3 my-2">
            @Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/minprice.svg"))
            <span class="mx-3 my-2">
                Min price is  <br />  @Model.dayAHeadPriceData.minPrice c/kWh <br /> @Model.dayAHeadPriceData.minPriceTimeStamp
            </span>
        </li>
        <li class="me-auto"></li>
    </ul>

    <ul class="d-flex list-unstyled mt-auto">
        <li class="me-auto"></li>
        <li class="d-flex align-items-center my-2 ms-3">
            <span class="ms-3 my-2">
                <input class="custom-file-upload p-2" data-id="uploadfile" data-action="uploadFileBtn" type="button" value="Upload data" />
            </span>
        </li>
        <li class="me-auto"></li>
        <li class="d-flex align-items-center my-2 ms-3">
            @Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/kiinteahinta.svg"))
            <span class="ms-3 my-2">
                Fixed price is <br /> <span id="averagePrice">  @Model.dayAHeadPriceData.averagePrice </span> c/kWh

            </span>
        </li>
        <li class="me-auto"></li>
    </ul>

    <div class="calc-wrapper">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Sauna
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-left mt-1 mb-1">

                            <p>Using the sauna for 1.5 hours.</p><br />
                            <button onclick="increment('sauna', 'saunaCost', 8)" id="plus">+</button>
                            <button onclick="decrement('sauna', 'saunaCost', 8)" id="minus">-</button>
                            <input id=sauna type=number min=0 max=100>
                            <p>Price in your electricity bill: </p> <p id="saunaCost"> </p> €

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne2">

                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                                @Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/pesukamaaoptimoitu.svg"))
                                <span class="m-3">
                                    Laundry machine
                                </span>
                            </li>
                        </ul>
                    </button>


                </h2>
                <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne2" data-bs-parent="#accordionFlushExample2">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-left mt-1 mb-1">

                            <p>Mixed laundry programme in 40 c degrees.</p><br />
                            <button onclick="increment('laundryMachine', 'laundryCost', 0.6)" id="plus">+</button>
                            <button onclick="decrement('laundryMachine', 'laundryCost', 0.6)" id="minus">-</button>
                            <input id=laundryMachine type=number min=0 max=100><br />
                            <p>Price in your electricity bill: </p> <p id="laundryCost"> </p> €

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne3">
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                                @Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/suihku.svg"))
                                <span class="m-3">
                                    Shower
                                </span>
                            </li>
                        </ul>
                    </button>
                </h2>
                <div id="flush-collapseOne3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne3" data-bs-parent="#accordionFlushExample3">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-left mt-1 mb-1">
                            <p>
                                37 c shower for 5 minutes, 12 litres of water. </p> <br />
                                <button onclick="increment('shower', 'showerCost', 2.1 )" id="plus">+</button>
                                <button onclick="decrement('shower', 'showerCost', 2.1 )" id="minus">-</button>
                                <input id=shower type=number min=0 max=100>
                            <p>Price in your electricity bill: </p> <p id="showerCost"> </p> €
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion accordion-flush" id="accordionFlushExample4">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne4" aria-expanded="false" aria-controls="flush-collapseOne4">
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                                @Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/tiskikamaaoptimoitu.svg"))
                                <span class="m-3">
                                    Dishwasher
                                </span>
                            </li>
                        </ul>
                    </button>
                </h2>
                <div id="flush-collapseOne4" class="accordion-collapse collapse" aria-labelledby="flush-headingOne4" data-bs-parent="#accordionFlushExample4">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-left mt-1 mb-1">
                            <p>
                                Basic washing programme with warm mater.
                            </p> <br />
                            <button onclick="increment('dishWasher', 'dishWasherCost', 1.2)" id="plus">+</button>
                            <button onclick="decrement('dishWasher', 'dishWasherCost', 1.2)" id="minus">-</button>
                            <input id=dishWasher type=number min=0 max=100>
                            <p>Price in your electricity bill: </p> <p id="dishWasherCost"> </p> €
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="accordion accordion-flush" id="accordionFlushExample5">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne5" aria-expanded="false" aria-controls="flush-collapseOne5">
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                                <span class="m-3">
                                    Gaming console & TV
                                </span>
                            </li>
                        </ul>
                    </button>
                </h2>
                <div id="flush-collapseOne5" class="accordion-collapse collapse" aria-labelledby="flush-headingOne5" data-bs-parent="#accordionFlushExample5">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-left mt-1 mb-1">
                            <p>Using gaming console and a television for one hour. </p> <br />
                            <button onclick="increment('gamingConsole', 'gamingConsoleCost', 0.31)" id="plus">+</button>
                            <button onclick="decrement('gamingConsole', 'gamingConsoleCost', 0.31)" id="minus">-</button>
                            <input id=gamingConsole type=number min=0 max=100>
                            <p>Price in your electricity bill: </p> <p id="gamingConsoleCost"> </p> €
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample6">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne6" aria-expanded="false" aria-controls="flush-collapseOne6">
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="d-flex align-items-center me-3">
                                <span class="m-3">
                                    Coffee machine
                                </span>
                            </li>
                        </ul>
                    </button>
                </h2>
                <div id="flush-collapseOne6" class="accordion-collapse collapse" aria-labelledby="flush-headingOne6" data-bs-parent="#accordionFlushExample6">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-left mt-1 mb-1">
                            <p>
                                Basic washing programme with warm mater.
                            </p> <br />
                            <button onclick="increment('coffeeMachine', 'coffeeMachineCost', 0.01)" id="plus">+</button>
                            <button onclick="decrement('coffeeMachine', 'coffeeMachineCost', 0.01)" id="minus">-</button>
                            <input id=coffeeMachine type=number min=0 max=100>
                            <p>Price in your electricity bill: </p> <p id="coffeeMachineCost"> </p> €
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<partial name="_PartialFileUploadModal" />
<div id="appdata" data-obj="@JsonConvert.SerializeObject(Model.dayAHeadPriceData.DayAheadPrices)"></div>

<div class="bottom-info-box bg-dark fixed-bottom w-100">
    <span>@Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/footerwiggle3.svg"))</span>
    <ul class="d-flex list-unstyled mt-auto w-100">
        <li class="me-auto"></li>
        <li class="d-flex align-items-center my-2 ms-3">
            @Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/salama.svg"))
            <span class="ms-3 my-2">
                Sähkönkulutus <br /> 1 000 kWh
            </span>
        </li>
        <li class="me-auto"></li>
        <li class="d-flex align-items-center ms-3 my-2">
            @Html.Raw(await File.ReadAllTextAsync("wwwroot/svgassets/euromerkki.svg"))
            <span class="mx-3 my-2">
                Sähkönhinta: <br /> 1 000 €
            </span>
        </li>
        <li class="me-auto"></li>
    </ul>

</div>
<script>

<<<<<<< HEAD
    function increment(id) {
        let number = document.getElementById(id);
        console.log(number);
        
=======
    function increment(id, priceid, kwh) {
        document.getElementById(id).stepUp();
        CalculateMachine(id, priceid, kwh);
>>>>>>> main
    }
    function decrement(id, priceid, kwh) {
        document.getElementById(id).stepDown();
        CalculateMachine(id, priceid, kwh);
    }
</script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
